%h2 
  Welcome
  = current_user.email
%h3= "Links(#{@links.count})"
%table#links.tablesorter
  %thead
    %tr
      %th url
      %th pwn3d
      %th visits
      %th date
  %tbody
    - @links.each do |link|
      %tr
        %td
          %a{:href => link.url}= link.url
        %td
          %a{:href => "/#{link.token}"}= link.token
        %td= link.visits.count
        %td= link.created_at.strftime("%m/%d/%Y")
%h3= "Files(#{@docs.count})"
%table#files.tablesorter
  %thead
    %tr
      %th filename
      %th pwn3d
      %th visits
      %th date
  %tbody
    - @docs.each do |doc|
      %tr
        %td
          %a{:href => "/#{current_user.email}/#{doc.filename}"}= doc.filename
        %td
          %a{:href => "/#{doc.token}"}= doc.token
        %td= doc.visits.count
        %td= doc.created_at.strftime("%m/%d/%Y")
